body {
    background-color: purple;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    margin: 5px 0;
    text-decoration: underline overline;
    text-shadow: 4px 4px 5px #666;
}

#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

.assignment-wrapper {
    margin-top: 50px;
    background-color: yellow;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-weight: 300;
}

.assignment-wrapper h2 {
    margin: 5px 0;
    text-decoration: underline overline;
    text-shadow: 4px 4px 5px #666;
}

.assignment-wrapper p {
    color: #666;
    font-style: italic;
    margin: 5px 0;
}

.assignment-wrapper ol {
    margin: 20px 0;
}

.assignment-wrapper ol li {
    margin: 5px 0;
    padding: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.assignment-wrapper ol li:nth-child(even) {
    background: #ddd;
}

.assignment-wrapper .completed {
    text-decoration: line-through;
    color: #666;
}

.assignment-wrapper .pretty-button {
    margin: 10px 2px;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: purple;
    border: none;
    color: yellow;
    text-align: center;
    display: inline-block;
    font-size: small;
}

.assignment-wrapper .pretty-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.assignment-wrapper input {
    padding: 3px 6px;
}

.assignment-wrapper form {
    display: inline-block;
}

#control-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.assignment-wrapper #clear-button {
    background-color: #49B749;
}

.assignment-wrapper #empty-button {
    background-color: #9B1C20;
}

.assignment-wrapper #save-button {
    background-color: #49B749;
}

@media only screen and (min-width: 1400px) {
    .assignment-wrapper {
        width: 50%;
    }

    .assignment-wrapper input {
        width: 600px;
    }

}

@media only screen and (max-width: 1399px) and (min-width: 750px) {
    .assignment-wrapper {
        width: 75%;
    }

    .assignment-wrapper input {
        width: 400px;
    }
}

body {
    font-family: helvetica;
}

ul {
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}